<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-light bg-light navbar-expand-lg navbar-fixed-top" style="margin-bottom: 20px">
		<a class="navbar-brand" href="/home">Daniel Wuthnow</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav">
				<li class="navbar-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="navbar-item">
					<a class="nav-link" href="/about_me">About Me</a>
				</li>
				<li class="navbar-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</nav>
	<div>
	<!-- 	<form action="/email" method="post">
			{% csrf_token %}
			<label>Name</label>
			<input type="text" name="name">
			<label>Email</label>
			<input type="email" name="email">
			<label>Subject</label>
			<input type="text" name="subject">
			<label>Message</label>
			<input type="text" name="message">
			<button type="submit" class="btn">Email</button>			
		</form>
	</div> -->
	<div class="card col-sm-3">
		<div class="card-body">
			<h5 class="card-title mb-0">Daniel Wuthnow</h5>
			<p class="card-text">Web Developer</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Phone Number<br>(972)261-7439</li>
			<li class="list-group-item">Email<br>003wuthnowd@gmail.com</li>
			<li class="list-group-item"><a href="https://github.com/Daniel-Wuthnow" target="_blank">Github</a></li>
		</ul>
	</div>

	<div class="footer">
		<p>Made by Daniel Wuthnow 2018</p>
	</div>
</body>
</html>