<!DOCTYPE html>
<html>
<head>
	<title>Daniel Wuthnow</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<style type="text/css">
		body{
			height: 100%;
			background-color: blue;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-light bg-light navbar-expand-lg navbar-fixed-top" style="margin-bottom: 20px">
		<a class="navbar-brand" href="/home">Daniel Wuthnow</a>
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav">
				<li class="navbar-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="navbar-item">
					<a class="nav-link" href="/about_me">About Me</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="banner offset-sm-1">
		<h2>Full-Stack Web Developer</h2>
		<h4>Specalizing in Python/Django</h4>
	</div>
	<div>
		<h3><a href="http://18.222.31.101/" target="_blank">WishList</a></h3>
		<p>WishLIst is an app where you can a User can login and add items to his wish list, see items on other users list and add their items onto there own list, and be able to click on an item and see who has it on there list.<br>I structured the database and implemented the front end design plus deploying the app using Amazon AWS (EC2) all within the 4.5 hours alotted test time.<br>Developed using Django, Python, HTML, CSS/bootstrap, and SQlite.</p>
	</div>


	<div class="footer">
		<p class="offset-sm-5">Made by Daniel Wuthnow 2018</p>
	</div>
</body>
</html>